@import 'styles/variables.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg);
  color: var(--text-color);
}

html body[data-scroll-locked] {
  margin-right: 0 !important;
}