.profile{
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
  background-color: var(--main-container);
  padding: 20px 30px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 600px;
  margin-bottom: 100px;

  & h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }

  .stats{
    padding-top: 10px;
    background-color: hsl(0, 0%, 80%, 0.1);
    margin-bottom: 20px;
    gap: 10px;
    border-radius: 5px;
    display: flex;
    .defStats{
      overflow-y: auto;
      max-height: 180px;
      min-height: 180px;
      height: 100%;
      padding: 25px 30px 10px;
      margin-bottom: 10px;

      & p {
        color: var(--text-color);
        font-size: 1.1em;
        margin: 8px 0;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      & h2{
        margin-bottom: 15px;
      }
    }

    .contentStats{
      margin-right: 10px;
      margin-left: auto;
      background-color: hsla(0, 0%, 100%, 0.05);
      border-radius: 5px;

      & p:nth-child(3){
        color: #ffd000;
      }
      & p:nth-child(4){
        color: #cd5c5c;
      }
      & p:nth-child(5){
        color: #e48a8a;
      }
    }
  }

}

.topContainer {
  height: 100px;
  background-color: var(--d-bg-secondary);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.actionContainer{
  display: flex;
  gap: 10px;

  .LogOutButton{
    padding: 10px 12px;
    background-color: transparent;
    color: var(--warn-button-bg);
    border: 2px solid var(--warn-button-bg);
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;

    &:hover{
      background-color: color-mix(in srgb, var(--warn-button-bg) 10%, transparent);
    }
  }

  .CreateSecretButton{
    padding: 10px 12px;
    background-color: transparent;
    color: var(--create-button-bg);
    border: 2px solid var(--create-button-bg);
    border-radius: 5px;
    cursor: pointer;
    align-self:flex-end;

    &:hover{
      background-color: color-mix(in srgb, var(--create-button-bg) 10%, transparent);
    }
  }
}


.defScroll{
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;}
  &::-webkit-scrollbar-track {
    background: transparent;}
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;}
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);}
}