.header{
  text-align: center;

  & h1{
    margin-bottom: 5px;
    font-size: 2em;
    color: var(--text-color);
  }
}

.secretsList{
  background-color: hsl(0, 0%, 0%, 0.2);
  border-radius: 5px;
  max-width: 700px;
  max-height: 400px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;

  .secretItem{
    padding: 10px 15px;
    border: 2px solid #4b4166;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;

    .mainInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      .title{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        display: block;
        max-width: 70%;
      }

      .date{
        color: var(--text-color-secondary);
        & svg{
          margin-right: 5px;
        }
      }
    }

    .stats{
      display: flex;
      gap: 10px;
      margin-bottom: 5px;
      color: var(--text-color-secondary);

      .stars{
        color: #ffd000;
      }
      .reports{
        color: #cd5c5c;
      }

      .hiddenBadge{
        margin-left: auto;
      }

      .showAuthor{
        color: #695e5e;
      }
      .showGrn{
        color: #43be55;
      }

    }

    & svg{
      width: 20px;
      height: 20px;
      vertical-align: -2px;
    }
  }

  .hiddenSecret{
    opacity: 0.6;
  }
}


.preSecretLoader{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  gap: 20px;

  & svg{
    color: #6c2f2f;
    margin: 20px 0 40px;
  }
  & p{
    color: #a97272;
  }
}


.defScroll{
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;}
  &::-webkit-scrollbar-track {
    background: transparent;}
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;}
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);}
}