.signContainer{
  display: flex;
  flex-direction: column;
  background-color: var(--log-container);
  box-shadow: 0 12px 20px rgba(93, 74, 120, 0.3);
  padding: 20px 30px;
  border-radius: 8px;
  max-width: fit-content;
  margin: 40px auto;

  & h2 {
    font-weight: 500;
    font-size: 2.2em;
    margin-bottom: 20px;
  }

  .haveAcc{
    color: var(--text-color-secondary);
    margin-bottom: 20px;

    & a{
      color: var(--a-color);
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .inputBox {
      display: flex;
      align-items: center;
      gap: 10px;

      & input {
        flex: 1;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        font-size: 1em;
        color: var(--text-color);
        background-color: var(--bg-secondary);

        &:focus{
          outline: none;
          box-shadow: 0 0 0 1px var(--a-color);
        }
      }
    }

    & button {
      margin-top: 10px;
      padding: 10px;
      background-color: var(--button-bg);
      color: var(--text-color);
      border: none;
      border-radius: 4px;
      font-size: 1em;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--button-secondary-bg);
      }
    }
  }
}

.passwordBox {
  position: relative;
  & input{
    padding-right: 40px !important;
  }

  .eyeIcon{
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text-color-secondary);
  }
}


.checkboxContainer {
  margin: 0.3rem 0;
  user-select: none;

  .customCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.95rem;
    color: #ccc;

    & input:checked + .checkmark {
      color: var(--a-color);
    }

    .checkmark {
      margin-right: 0.5rem;
      color: #9ca3af;
      transition: color 0.2s;
    }

    .checkboxLabel {
      display: flex;
      align-items: center;
      gap: 4px;

      .licenseLink {
        color: var(--a-color);
        text-decoration: underline;
        font-weight: 500;
      }
    }
  }
}
.disabledButton {
  opacity: 0.5;
  cursor: not-allowed !important;
}