.header{
  text-align: center;

  & h1{
    font-size: 2em;
    color: var(--text-color);
  }
}


.fetchButton{
  margin: 15px auto 25px;
  display: block;
  padding: 10px 45px;
  background-color: transparent;
  color: var(--button-bg);
  border: 2px solid var(--button-bg);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, scale 0.1s ease-in-out;

  &:active{
    scale: 0.95;
  }

  &:hover{
    border-color: var(--button-secondary-bg);
    color: var(--button-secondary-bg);
  }
}

.secretCard{
  border-radius: 8px;
  padding: 20px;
  margin: 40px auto 20px;
  background-color: var(--d-bg-secondary);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
  max-width: 850px;


  .content{ 
    font-size: 1.1em;
    line-height: 1.4em;
    border-radius: 10px;
    padding: 10px;
    background-color: hsla(0, 0%, 0%, 0.2);
    overflow-y: auto;
    max-height: 300px;
    min-height: 300px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .title{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .headerInfo{
    display: flex;
    flex-direction: row;
    gap: 15px 20px;
    margin-bottom: 15px;

    .date{
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(--text-color-secondary);
    }

    .author{
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(--text-color-secondary);
    }

    .hasUser{
      color: #b6dfaf;
    }
  }

  .actionContainer{
    margin-top: 10px;
    display: flex;
    gap: 10px;

    .actionButton{
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 6px 10px;
      background-color: transparent;
      border: 2px solid var(--star-button-bg);
      border-radius: 5px;
      color: var(--star-button-bg);
      cursor: pointer;
      transition: scale 0.2s ease-in-out;

      &:hover{
        scale: 1.05;
      }

      & span{
        padding-top: 2px;
      }
    }
    .liked{
      background-color: color-mix(in srgb, var(--star-button-bg) 30%, transparent);
    }

    .actionReport{
      margin-left: auto;
      border-color: rgb(205, 92, 92);
      color: rgb(205, 92, 92);
    }
    .reported{
      background-color: color-mix(in srgb, rgb(205, 92, 92) 30%, transparent);
    }
  }
}


.preSecretLoader{
  text-align: center;
  color: var(--text-color-secondary);
  margin: 40px 0 20px;

  .preIcon{
    margin: 30px 0 50px;
    color: var(--button-bg);
    animation: breatheGlow 3.5s ease-in-out infinite;
    transition: all 0.3s ease;
  }

  & p{
    margin-top: 25px;
    font-size: 1.1em;
  }
}


@keyframes breatheGlow {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(212, 18, 255, 0.3));
  }
  50% {
    transform: scale(1.15);
    opacity: 0.75;
    filter: drop-shadow(0 0 10px rgba(224, 45, 255, 0.8));
  }
}

.newBadge {
  background-color: var(--button-bg);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 4px;
  margin-left: 8px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  animation: pulse 2s infinite;
}


.defScroll{
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;}
  &::-webkit-scrollbar-track {
    background: transparent;}
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;}
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);}
}