:root{
  --bg: #111111;
  --bg-secondary: #343434;
  --d-bg-secondary: #232323;

  --text-color: #eeeeee;
  --text-color-b: #272727;
  --text-color-secondary: #bbbbbb;
  --a-color: #97b1d6;

  --button-bg: #7a7a7a;
  --button-secondary-bg: #b8b8b8;
  --warn-button-bg: #b54a4a;
  --create-button-bg: #4b944a;
  --star-button-bg: #ffd000;

  --main-container: #1b1b1b;
  --log-container: #232323;
}